:root {
    --clr-red: hsl(1, 90%, 64%);
    --clr-gray-1: hsl(210, 60%, 98%);
    --clr-gray-2: hsl(211, 68%, 94%);
    --clr-gray-3: hsl(205, 33%, 90%);
    --clr-gray-4: hsl(219, 14%, 63%);
    --clr-gray-5: hsl(219, 12%, 42%);
    --clr-gray-6: hsl(224, 21%, 14%);
    --clr-blue: hsl(219, 85%, 26%);
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PlusJakartaSans";
}
@font-face {
    font-family: "PlusJakartaSans";
    src: url("./assets/fonts/static/PlusJakartaSans-ExtraBold.ttf");
    font-weight: 800;
}
@font-face {
    font-family: "PlusJakartaSans";
    src: url("./assets/fonts/static/PlusJakartaSans-Medium.ttf");
}
body {
    background-color: var(--clr-gray-1);
}
a {
    text-decoration: none;
}
p,
span {
    font-weight: 500;
}
.recent {
    background-color: var(--clr-gray-1);
}
